<section>
    <header>
        <div class="header-wrapper p-5">
           <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="logo">
                       <img src="/assets/images/logo-white.png" alt="" width="250px">
                    </div>
                </div>
                <div class="col-lg-4">
                 
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                  
                </div>
            </div>
           </div>
        </div>
    </header>
</section>

<section>
    <div class="login">
        <div class="form">
            <div class="user">
                <label for="pass">Nom d'utilisateur</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-circle-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="pass mb-2">
                <label for="pass">Mot de passe</label>
                <input type="password" class="form-control">
                <div class="eye">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div class="forget mb-5">
                <a href="#">Mot de passe oublié?</a>
            </div>
            <div class="conx">
                <a href="#">Connexion</a>
            </div>
        </div>
    </div>
</section>