.login{
    background-image: url('/assets/images/450065465_1010746550692437_2362570878478719307_n.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    margin: auto;
    padding: 35px 15px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group i{
    font-size: 25px;

}

.input-group input{
    border-radius: 0 10px 10px 0;
}
.input-group-prepend span{
    border-radius: 10px 0  0 10px !important;
}
.pass{
    position: relative;
}
.pass .eye{
    position: absolute;
    right: 15px;
    top:30px

}
.form{
    background-color:rgb(12, 158, 243);
    padding: 25px;
    border-radius: 20x;
}
.forget a{
    color:red;
    text-decoration: underline;
    font-size: 12px;
}
.conx{
    color: black;
    background-color: rgba(255, 255, 255, 0.719);
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    text-align: center;
}