<app-header></app-header>

<body>
    
    <div class="content-wrapper">
       <div class="form">
        <div class="header">
            <div class="title">
                <h2>Suivie des Réferences</h2>
            </div>
        </div>
            <div class="content p-3">
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <label for="ref">Réferences</label>
                    </div>
                    <div class="col-lg-6">
                        <select name="ref" id="ref" class="form-control">
                            <option value="ref">ref</option>
                            <option value="ref">ref</option>
                            <option value="ref">ref</option>
                            <option value="ref">ref</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <label for="ref">N° Carte KO</label>
                    </div>
                    <div class="col-lg-6">
                       <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <label for="ref">Nombre total des produits</label>
                    </div>
                    <div class="col-lg-6">
                       <input type="number" class="form-control">
                    </div>
                </div>

                <div class="btns mb-3">
                    <a href="" class="confirmer">Confirmer</a>
                    <a href="" class="delete">Supprimer</a>
                    <a href="" class="cancel">Annuler</a>
                </div>
            </div>
       
       </div>
    </div>
</body>