<app-header></app-header>
<body>
    
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-3">
              <div class="menu">
                <h2>Suivi par réference</h2>
              </div>
            </div>
            <div class="col-lg-3">
               <div class="menu">
                <h2>Suivi des horaires</h2>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="menu">
                <h2>Le defauts</h2>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="menu">
                <h2>Affichage</h2>
               </div>
            </div>
        </div>
    </div>
</body>