<section>
    <header>
        <div class="header-wrapper p-5">
           <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="logo">
                       <img src="/assets/images/logo-white.png" alt="" width="250px">
                    </div>
                </div>
                <div class="col-lg-4">
                   <div class="filter">
                    <div class="row">
                        <div class="col-lg-6">
                            <select name="equipe" id="equipe" class="form-control">
                                <option value="1">Equipe</option>
                                <option value="1">Equipe</option>
                                <option value="1">Equipe</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select name="lignes" id="lignes" class="form-control">
                                <option value="1">N° des lignes</option>
                                <option value="1">Equipe</option>
                                <option value="1">Equipe</option>
                            </select>
                        </div>
                    </div>
                   </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <div class="current-user">
                        <img src="/assets/images/current.webp" alt="" width="50">
                        <span>Nom Utilisateur</span>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </header>
</section>